@import "tailwindcss";

@layer base {
  .show-marker {
    #preview-fill {
      fill: url(#pattern);
    }

    .path-cw {
      marker-mid: url(#marker-cw);
      /* marker-end: url(#marker-cw); */

      @apply stroke-[0.5%] stroke-red-400;


    }

    .path-ccw {
      marker-mid: url(#marker-ccw);
      /* marker-end: url(#marker-ccw); */

      @apply stroke-[0.5%] stroke-blue-400;

    }
  }

  .path-cw.active {
    @apply fill-red-500/30;
  }

  .path-ccw.active {
    @apply fill-blue-500/30;
  }

  #treeview {
    @apply p-4 pl-0;

    ul {
      @apply pl-4 border-l border-dashed;
    }

    > ul {
      @apply border-none;
    }

    li {
      @apply font-mono text-sm;

      &.cw {
        @apply text-red-500;

        > span {
          @apply border-red-500 hover:bg-red-500/10;
        }
      }

      &.ccw {
        @apply text-blue-500;

        > .node {
          @apply border-blue-500 hover:bg-blue-500/10;
        }
      }

      > .node {
        @apply border border-dashed inline-flex p-1 align-baseline w-full my-0.5 cursor-pointer;
      }
    }
  }
}
